%div[participation]
  %p.state
    %strong State
    = h participation.state

  = link_to 'Show', user_participation_path(@user, participation)
  |
  = link_to 'Edit', edit_user_participation_path(@user, participation)
  |
  = link_to 'Destroy', user_participation_path(@user, participation), :confirm => 'Really destroy participation?', :method => :delete
