%h1 Editing participation

= error_messages_for :participation

- form_for(:participation, :url => user_participation_url(@user, @participation), :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Update"