%h1 Creating service

= error_messages_for :service

- form_for(:service, :url => location_service_url(@location, @service)) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Create"