- fields_for(@rota) do |service|
  = service.label :service_id, "Service"
  = service.collection_select :service_id, @location.get_services_requiring_a_rota, :id, :start_at, {:prompt => "Select a service..."}
  #new_service
    = link_to "Add new service", new_location_service_path(@location), :class => "ajaxlink"
  #new_service_form