%h1 My Rotas

- if @rotas.empty?
  %p You haven't been assigned to any rotas at the moment.
- else
  = render :partial => 'rota', :collection => @rotas

= link_to 'New rota', new_location_rota_path if params[:location_id]