%h1.overview_h1
  .floatr.btn_container
    %span.btn.btn-medium-white= link_to "Set my un-availability", user_unavailabilities_path(current_user)
  = title("Users", :span)

#overview-container
  - if @users
    %ul
      - @users.each do |user|
        %li= link_to user.name, user