%h1 Editing location

= error_messages_for :location

- form_for(@location, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p
    = submit_tag "Update"
    or
    = link_to "Cancel", locations_path
  