%h1 Viewing location

%div[@object]
  %p.name
    %strong Name
    = h @object.name

= link_to 'Edit', edit_location_path
|
= link_to 'Destroy', location_path, :confirm => 'Really destroy location?', :method => :delete
|
= link_to 'Back', locations_path
